In [1]:
from pydataset import data

initiated datasets repo at: /Users/deangelobowen/.pydataset/

In [2]:
# data('mpg', show_doc=True) # view the documentation for the dataset

mpg = data('mpg') # load the dataset and store it in a variable

In [5]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here

math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

- 1-a. Create a column named passing_english that indicates whether each student has a passing grade in english.

In [8]:
df['passing_english'] = df.english >= 70
df

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

- 1-b. Sort the english grades by the passing_english column. How are duplicates handled?

In [14]:
df[['name','english','passing_english']].sort_values(by='passing_english', ascending=False)

       name  english  passing_english
0     Sally       85             True
1      Jane       79             True
2     Suzie       74             True
3     Billy       96             True
4       Ada       92             True
5      John       76             True
9   Richard       80             True
10    Isaac       99             True
6    Thomas       64            False
7     Marie       63            False
8    Albert       62            False
11     Alan       62            False

 - 1-c. Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

In [22]:
df[['name','english','passing_english']].sort_values(by=['passing_english', 'name'], ascending = False)

       name  english  passing_english
2     Suzie       74             True
0     Sally       85             True
9   Richard       80             True
5      John       76             True
1      Jane       79             True
10    Isaac       99             True
3     Billy       96             True
4       Ada       92             True
6    Thomas       64            False
7     Marie       63            False
8    Albert       62            False
11     Alan       62            False

In [23]:
df[['name','english','passing_english']].sort_values(by=['passing_english', 'english'], ascending = False)

       name  english  passing_english
10    Isaac       99             True
3     Billy       96             True
4       Ada       92             True
0     Sally       85             True
9   Richard       80             True
1      Jane       79             True
5      John       76             True
2     Suzie       74             True
6    Thomas       64            False
7     Marie       63            False
8    Albert       62            False
11     Alan       62            False

Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

In [25]:
df['overall_grades'] = (df.math + df.english + df.reading) / 3
df

       name  math  english  reading  passing_english  overall_grades
0     Sally    62       85       80             True       75.666667
1      Jane    88       79       67             True       78.000000
2     Suzie    94       74       95             True       87.666667
3     Billy    98       96       88             True       94.000000
4       Ada    77       92       98             True       89.000000
5      John    79       76       93             True       82.666667
6    Thomas    82       64       81            False       75.666667
7     Marie    93       63       90            False       82.000000
8    Albert    92       62       87            False       80.333333
9   Richard    69       80       94             True       81.000000
10    Isaac    92       99       93             True       94.666667
11     Alan    92       62       72            False       75.333333

Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [26]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

How many rows and columns are there?

In [27]:
mpg.shape

(234, 11)

What are the data types of each column?

In [29]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

Summarize the dataframe with .info and .describe

In [31]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [32]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

Rename the cty column to city.
Rename the hwy column to highway.

In [37]:
mpg = mpg.rename(columns={'cty': 'city',
                  'hwy': 'highway'})
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [57]:
mpg['better_city_mileage'] = mpg.city > mpg.highway
mpg[['manufacturer', 'model', 'better_city_mileage']].sort_values(by = 'better_city_mileage', ascending = False)

    manufacturer            model  better_city_mileage
1           audi               a4                False
161       subaru     forester awd                False
149       nissan           maxima                False
150       nissan           maxima                False
151       nissan   pathfinder 4wd                False
..           ...              ...                  ...
83          ford     explorer 4wd                False
84          ford  f150 pickup 4wd                False
85          ford  f150 pickup 4wd                False
86          ford  f150 pickup 4wd                False
234   volkswagen           passat                False

[234 rows x 3 columns]

In [62]:
mpg['mileage_difference'] = mpg.highway - mpg.city
mpg[['manufacturer', 'model', 'mileage_difference']].sort_values(by = 'mileage_difference', ascending = True).tail()

    manufacturer       model  mileage_difference
106        honda       civic                  11
213   volkswagen       jetta                  11
1           audi          a4                  11
223   volkswagen  new beetle                  12
107        honda       civic                  12

In [70]:
mpg[mpg['class'] == 'compact'].sort_values(by = 'highway', ascending = True).head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,better_city_milage,better_city_mileage,average_mileage,mileage_difference
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,False,False,19.5,7
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,False,False,20.5,7
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,False,False,20.5,7
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,False,False,22.0,6
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,False,False,22.5,5

In [77]:
mpg['average_mileage'] = (mpg.city + mpg.highway)/2
mpg[mpg['manufacturer'] == 'dodge'].sort_values(by ='average_mileage', ascending = True)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,better_city_milage,better_city_mileage,average_mileage,mileage_difference
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,False,False,10.5,3
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,False,False,10.5,3
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,False,False,10.5,3
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,False,False,10.5,3
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,False,False,13.0,4
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,False,False,13.0,4
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,False,False,13.0,4
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,False,False,13.0,4
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,False,False,13.5,5
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,False,False,13.5,5
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,False,False,14.0,4
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,False,False,14.0,4
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,False,False,14.0,6
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,False,False,14.0,6
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,False,False,15.0,4
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,False,False,15.0,4
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,False,False,15.0,4
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,False,False,15.0,4
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,False,False,15.0,4
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,False,False,15.0,4
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,False,False,15.0,4
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,False,False,15.5,3
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,False,False,15.5,5
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,False,False,16.0,4
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,False,False,16.5,5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,False,False,16.5,5
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,False,False,17.0,4
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,False,False,18.0,6
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,False,False,18.5,7
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,False,False,19.0,6
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,False,False,19.0,6
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,False,False,19.5,7
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,False,False,19.5,7
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,False,False,20.5,7
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,False,False,20.5,7
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,False,False,20.5,7
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,False,False,21.0,6

In [86]:
data('Mammals', show_doc=True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines”
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [87]:
mammals = data('Mammals')

In [88]:
mammals

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [89]:
mammals.shape

(107, 4)

What are the data types?

In [112]:
mammals.dtypes

weight                float64
speed                 float64
hoppers                  bool
specials                 bool
median_speed          float64
above_median_speed       bool
dtype: object

Summarize the dataframe with .info and .describe

In [91]:
mammals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [92]:
mammals.describe()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000

What is the the weight of the fastest animal?

In [95]:
mammals.sort_values(by ='speed', ascending = False).head()

    weight  speed  hoppers  specials
53    55.0  110.0    False     False
39    37.0  105.0    False     False
35    50.0  100.0    False     False
41    34.0   97.0    False     False
42    30.0   97.0    False     False

What is the overal percentage of specials?

In [114]:
len(mammals[mammals['specials']])/len(mammals)*100

9.345794392523365

How many animals are hoppers that are above the median speed? What percentage is this?

In [115]:
mammals['median_speed'] = mammals['speed'].median()

In [116]:
mammals['above_median_speed'] = mammals['speed'] > mammals['median_speed']

In [117]:
mammals.sort_values(by = 'speed', ascending = False)

       weight  speed  hoppers  specials  median_speed  above_median_speed
53     55.000  110.0    False     False          48.0                True
39     37.000  105.0    False     False          48.0                True
35     50.000  100.0    False     False          48.0                True
41     34.000   97.0    False     False          48.0                True
42     30.000   97.0    False     False          48.0                True
19    300.000   90.0    False     False          48.0                True
34     62.000   81.0    False     False          48.0                True
45     20.000   81.0    False     False          48.0                True
25    120.000   80.0    False     False          48.0                True
22    170.000   80.0    False     False          48.0                True
20    250.000   80.0    False     False          48.0                True
40     35.000   80.0    False     False          48.0                True
43     30.000   80.0    False     False          48.0                True
63      6.000   72.0    False     False          48.0                True
18    300.000   72.0    False     False          48.0                True
98      4.000   72.0     True     False          48.0                True
97      4.400   72.0     True     False          48.0                True
12    900.000   70.0    False     False          48.0                True
57     20.000   70.0    False     False          48.0                True
8     260.000   70.0    False     False          48.0                True
6     350.000   70.0    False     False          48.0                True
24    130.000   70.0    False     False          48.0                True
5     400.000   70.0    False     False          48.0                True
56     25.000   67.0    False     False          48.0                True
30     80.000   65.0    False     False          48.0                True
58     16.000   65.0    False     False          48.0                True
51     65.000   65.0    False     False          48.0                True
104    50.000   65.0    False     False          48.0                True
28    100.000   64.0    False     False          48.0                True
64      5.000   64.0    False     False          48.0                True
100     2.000   64.0     True     False          48.0                True
55     40.000   64.0    False     False          48.0                True
96      4.600   64.0     True     False          48.0                True
7     300.000   64.0    False     False          48.0                True
26    120.000   61.0    False     False          48.0                True
36     50.000   60.0    False     False          48.0                True
11   1000.000   60.0    False     False          48.0                True
33     65.000   60.0    False     False          48.0                True
52     60.000   60.0    False     False          48.0                True
62      7.000   60.0    False     False          48.0                True
49    150.000   59.0    False     False          48.0                True
15    750.000   57.0    False     False          48.0                True
17    450.000   56.0    False     False          48.0                True
101     1.900   56.0     True     False          48.0                True
13    900.000   56.0    False     False          48.0                True
21    250.000   56.0    False     False          48.0                True
61     10.000   56.0    False     False          48.0                True
99      3.500   56.0     True     False          48.0                True
48    230.000   56.0    False     False          48.0                True
31     72.000   56.0    False     False          48.0                True
29     85.000   55.0    False     False          48.0                True
54     45.000   50.0    False     False          48.0                True
102     1.500   50.0     True     False          48.0                True
50    135.000   48.0    False     False          48.0               False
47    300.000   48.0    False     False          48.0               False
23    150.000   48.0    False     False          48.0               False
38     50.000   47.0    False     False          48.0               False
44     30.000   45.0    False     False          48.0               False
32     70.000   45.0    False     False          48.0               False
4    1400.000   45.0    False     False          48.0               False
46    400.000   40.0    False     False          48.0               False
37     50.000   40.0    False     False          48.0               False
68     70.000   40.0    False      True          48.0               False
103     1.500   40.0     True     False          48.0               False
9     250.000   40.0    False     False          48.0               False
69     13.000   37.0    False      True          48.0               False
72      0.600   36.0    False     False          48.0               False
1    6000.000   35.0    False     False          48.0               False
27    110.000   33.0    False     False          48.0               False
67    127.000   32.0    False     False          48.0               False
16    500.000   32.0    False     False          48.0               False
85      0.035   32.0     True     False          48.0               False
60     11.000   30.0    False      True          48.0               False
14    800.000   29.0    False     False          48.0               False
65      5.000   27.0    False      True          48.0               False
74      0.550   27.0    False     False          48.0               False
2    4000.000   26.0    False     False          48.0               False
3    3000.000   25.0    False     False          48.0               False
10   3800.000   25.0    False      True          48.0               False
59     12.000   24.0    False      True          48.0               False
82      0.056   21.0     True     False          48.0               False
76      0.400   20.0    False     False          48.0               False
73      0.600   20.0    False     False          48.0               False
75      0.500   18.0    False     False          48.0               False
81      0.100   17.0    False     False          48.0               False
84      0.045   16.0    False     False          48.0               False
71      4.000   16.0    False     False          48.0               False
66      3.000   16.0    False      True          48.0               False
79      0.220   15.0    False     False          48.0               False
86      0.035   14.0     True     False          48.0               False
92      0.016   13.0    False     False          48.0               False
77      0.300   13.0    False     False          48.0               False
106     0.024   13.0    False     False          48.0               False
89      0.025   11.0    False     False          48.0               False
83      0.050   11.0    False     False          48.0               False
78      0.250    9.7    False     False          48.0               False
88      0.030    9.1    False     False          48.0               False
80      0.110    9.0    False     False          48.0               False
91      0.018    8.9    False     False          48.0               False
90      0.025    8.6    False     False          48.0               False
105     5.000    7.4    False      True          48.0               False
87      0.030    6.8    False     False          48.0               False
93      0.100    4.0    False     False          48.0               False
95      0.016    3.6    False     False          48.0               False
70      9.000    3.2    False      True          48.0               False
94      0.100    2.4    False     False          48.0               False
107     4.000    1.6    False      True          48.0               False

In [118]:
len(mammals[mammals['above_median_speed']])/len(mammals)*100

49.532710280373834